.login-form-forgot {
  float: right;
}
.center-div{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inherit-height{
  height: 100%;
}

.login-bg{
  background-image: url(../src/assets/images/human2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.registration-bg{
  background-image: url(../src/assets/images/human1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.forgotpassword-bg{
  background-image: url(../src/assets/images/pic1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gap_container{
  gap: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.thelinks{
  color:#0a0050;
}

.thelinks:hover{
  color:#fd530c
}

.theStyles{
  border-color: #fd530c;
}