.login-form-forgot {
  float: right;
}
.center-div{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inherit-height{
  height: 100%;
}

.login-bg{
  background-image: url(../src/assets/images/human2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.registration-bg{
  background-image: url(../src/assets/images/human1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.forgotpassword-bg{
  background-image: url(../src/assets/images/pic1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gap_container{
  gap: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.thelinks{
  color:#0a0050;
}

.thelinks:hover{
  color:#fd530c
}

.theStyles{
  border-color: #fd530c;
}

.menuText{
  color: #f2d3c7;
}

.containers {
  overflow: auto;
  white-space: nowrap; 
  padding-top: 20px;
} 

.containers::-webkit-scrollbar {
  width: 30px;
}

/* a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  font-size: 20px;
}
a:hover{
  background-color: #f2d3c7 ;
}	 */

.menuText :hover{
  color: #fd530c;
}

.pointer-events-off {
  pointer-events: none;
}

.box-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

.ant-drawer-body p.site-description-item-profile-p {
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}